body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.side {
  display: flex;
  width: 1440px;
  height: 1024px;
  margin: auto;
}

* {
  font-family: inter;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  height: 1024px;
  background: #f6f7f8;
  /* border: 2px solid red; */
}

h1 {
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-left: 95px;
  padding-top: 50px;
}

h4 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.area {
  width: 1208px;
  height: 800px;
}

.left_stroke_right_area {
  display: flex;
  justify-content: space-evenly;
  width: 1208px;
  /* border: 2px solid blueviolet */
}

.area_left {
  display: flex;
  width: 400px;
  height: 460px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* border: 3px solid rgb(236, 9, 9); */
}

.area_left h4 {
  padding-bottom: 16px;
}

.area_right {
  display: flex;
  width: 400px;
  height: 460px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  /* border: 3px solid rgb(19, 4, 226); */
}

.stroke {
  width: 2px;
  height: 460px;
  stroke-width: 1px;
  background-color: rgb(192, 192, 192);
}

.input_field {
  position: relative;
  display: flex;
  width: 350px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.textarea_field {
  position: relative;
  display: flex;
  width: 350px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.button {
  position: relative;
  display: flex;
  width: 350px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.prio_area {
  display: flex;
  width: 400px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* border: 2px solid orange */
}

.prio {
  width: 134px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio img {
  padding-left: 8px;
  /* padding: 8px; */
}

.prio_orange {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio_orange:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio_orange img {
  padding: 8px;
}

.assigned_area {
  display: flex;
  width: 382px;
  padding-left: 8px;
  /* padding: 12px 16px; */
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
}

.last_section {
  /* border: 2px solid greenyellow; */
  display: flex;
  justify-content: space-between;
}

.clear_task {
  display: flex;
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647);
  background: #f6f7f8;
}

.create_task {
  display: flex;
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.task {
  display: flex;
  justify-content: flex-end;
  width: 91%;
  gap: 16px;
  padding-right: 110px;
}

.required_text {
  padding-left: 95px;
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.create_task:hover {
  cursor: pointer;
  background-color: #29ABE2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.accordion {
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  width: 90%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.head_arccordion {
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  display: none;
  /* padding: 10px; */
}

.column {
  display: flex;
  flex-direction: column;
}

.button_task {
  border-radius: 10px;
  border: 0px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.button_task:hover {
  background: var(--white, #d1d1d1);
}