:root {
  --1: #ff7a00;
  --2: #ff5eb3;
  --3: #6e52ff;
  --4: #9327ff;
  --5: #00bee8;
  --6: #1fd7c1;
  --7: #ff745e;
  --8: #ffa35e;
  --9: #fc71ff;
  --10: #ffc701;
  --11: #0038ff;
  --12: #c3ff2b;
  --13: #ffe62b;
  --14: #ff4646;
  --15: #ffbb2b;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}



html{
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  width: 1920px;
}

.content{
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 80px); */
  overflow-x: auto;
}

.side {
  display: flex;
  width: 100%;
}


* {
  font-family: inter;
}

.red-star {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

.background_template {
  width: 900px;
  border: 1px solid var(--Style, #d1d1d1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  /* height: 100vh; */
  background: #f6f7f8;
}

.overlay_add_Task {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}

.background {
  /* height: 100vh; */
  width: 100%;
  background: #f6f7f8;
  
}

h1 {
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-left: 95px;
  padding-top : 0px;
}

h4 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.area {
  width: 100%;
}




/* Overlay  */

.area_board {
  width: 100%;
}
.header_line {
  width: 91%;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.flex_end {
  display: flex;
  align-items: center;
  /* border: 1px solid brown; */
}

.header_line img {
  width: 20px;
  height: 20px;
}

.header_line img:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #c1c1c1;
}

.left_stroke_right_area {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* border: 2px solid rgb(10, 171, 252) */
}

.left_stroke_right_area_board {
  display: flex;
  justify-content: space-evenly;
  width: 920px;
  /* border: 2px solid rgb(10, 171, 252) */
}

.area_left {
  display: flex;
  width: 350px;
  /* height: 460px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* border: 3px solid rgb(236, 9, 9); */
}



.area_right {
  display: flex;
  width: 350px;
  /* height: 460px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  /* border: 3px solid rgb(19, 4, 226); */
}

.stroke {
  width: 1px;
  height: 460px;
  stroke-width: 1px;
  background-color: rgb(192, 192, 192);
}

.input_field {
  position: relative;
  display: flex;
  padding: 12px 40px 12px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline:none;
}

.input_field:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

.input_field_date {
  position: relative;
  display: flex;
  width: 77%;
  padding: 20px 40px 20px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline:none;
}

.textarea_field {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline: none;
}

.textarea_field:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

.input_field_subtask {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 2px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border-top: 1px solid var(--Style);
  border-bottom: 1px solid var(--Style);
  border-left: 0px solid var(--Style);
  border-right: 0px solid var(--Style);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  outline: none;
}

.assigned_area:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

.button {
  position: relative;
  display: flex;
  width: 100%;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.assi_area {
  width: 100%;
  
}

.prio_area {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.prio {
  width: 134px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  
}

.prio:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio img {
  padding-left: 8px;
}

.prio_orange {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio_orange:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio_orange img {
  padding: 8px;
}

.assigned_area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  outline: none;
}

#sub_task_image_area {
  width: 50px;
  display: flex;
  gap: 8px;
}

#sub_task_image_area img {
 cursor: pointer;
}

#sub_task_listelements {
  width: 100%;
}

.last_section {
  display: flex;
  height: 100px;
  width: 86%;
  /* border: 1px solid black */
}

.last_section_border {
  width: 92%;
  padding-left: 0px;
  padding-top: 60px;
  /* border: 2px solid greenyellow; */
  display: flex;
  justify-content: space-between;
}

.clear_task {
  display: flex;
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647);
  background: #f6f7f8;
}

.clear_task:hover {
  cursor: pointer;
  border: 1px solid #29ABE2;
  color: #29ABE2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.create_task {
  display: flex;
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.task {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 16px;
}

.required_text {
  width: 200px;
  display: flex;
  padding-left: 60px;
}

.create_task:hover {
  cursor: pointer;
  background-color: #29ABE2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.accordion {
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.select_area {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  text-align: left;
  outline: none;
}

#searchField {
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  margin-bottom: 16px;
  width: 90%;
  height: 40px;
  text-align: left;
  outline:none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subtask_area {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.subtask_area img {
  cursor: pointer;
}

.subtask_area img{
  width: 15px;
}

.list_subtask {
  width: 100%;
}

.head_arccordion {
  display: flex;
  justify-content: space-between;
}

.head_arccordion_category {
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  display: none;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  /* border:2px solid #00bee8; */
}

.button_task {
  border-radius: 10px;
  border: 0px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  color: #000000;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.button_task:hover {
  background: var(--white, #d1d1d1);
}

.hole_contact_add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hole_contact_add:hover {
  border-radius: 10px;
  background: rgba(238, 238, 238, 1);
}

.active_contact {
  width: 100%;
  border-radius: 10px;
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: rgba(42, 54, 71, 1);
}

.active_contact:hover {
  border-radius: 10px;
  background: rgba(9, 25, 49, 1);
}

.contact_add {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact h4 {
  display: flex;
  padding: 0px;
}

.name_icon_add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
}

#aktiveMemberIcons {
  padding-top: 8px;
  display: flex;
  gap: 8px;
}

#MemberField {
  height: 150px;
  overflow-y: scroll;
}

#MemberFiel_Search {
  width: 100%;
}

#searchField {
  width: 98%;
}

/* Responsive Board  */

.title_area_board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_field_board {
  width: 84%;
  position: relative;
  display: flex;
  padding: 12px 40px 12px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline:none;
}

.input_field_board:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

.textarea_field_board {
  position: relative;
  display: flex;
  width: 98%;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline: none;
}

.textarea_field_board:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

.input_field_date_board {
  position: relative;
  display: flex;
  width: 88%;
  padding: 12px 30px 12px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
  border: 1px solid var(--Style, #d1d1d1);
  outline:none;
}

.head_arccordion_board {
  display: flex;
  justify-content: space-between;
}

.assigned_area_board {
  display: flex;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  outline: none;
}

.create_task_board {
  display: flex;
  width: 50%;
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.description_area_board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media(max-width: 1100px) {

  h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  .stroke {
    display: none;
  }
}

@media(max-width: 1000px) {

  .background {
    /* height: calc(100vh - 80px); */
  }

  .background_template { 
    width: 700px;
  }

  .area {
    position: relative;
    /* height: 920px; */
    /* overflow-x:scroll; */
    z-index: 25;
  }
  

  .content_overlay{
    height: 525px;
    width: 715px;
    overflow-x:scroll;
    z-index: 25;
  }

  .required_text {
    padding-left: 50px;
  }
  
  .last_section {
    width: 90%;
  }

   .left_stroke_right_area {
    display: flex;
    align-items: center;
    flex-direction: column;
   }

   .left_stroke_right_area_board {
    width: 920px;
    display: flex;
    align-items: center;
    flex-direction: column;
   }


}

@media(max-width: 750px) {



  .header_line {
    display: flex;
    flex-direction: column;
  }

  .content_overlay{
    height: 525px;
    width: 500px;
    overflow-x:scroll;
    z-index: 25;
  }

  .background_template { 
    width: 500px;
  }
}

@media(max-width: 530px) {

  h1 {
    font-size: 40px;
  }

  .content_overlay{
    height: 525px;
    width: 320px;
    overflow-x:scroll;
    overflow-x: hidden;
    z-index: 25;
  }

  .background_template { 
    width: 350px;
  }
}

@media(max-width: 450px) {

  .content_overlay{ 
    padding-left: 16px;
  }

  .textarea_field {
    width: 99%;
  }

  .area_left {
    width: 270px;
  }

  .area_right {
    width: 270px;
  }

  .header_line {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 120px; */
  }

  .flex_end {
    border-radius: 10px;
    border: 2px solid black;
  }

  .background_template { 
    width: 310px;
  }


  .left_stroke_right_area_board {
    padding-left: 8px;
  
    width: 280px;
   }

  .last_section {

    padding-top: 100px;
    display: flex;
  }

  .last_section_border {
    width: 80%;
    padding-top: 120px;
    display: flex;
  }

  h1 {
    padding-left: 10px;
  }

  .prio_area {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .input_field_board { 
    width: 92%;
    padding: 7px 7px 7px 7px;
  }

  .input_field_date_board { 
    width: 92%;
    padding: 7px 7px 7px 7px;
  }

  .clear_task {
    display: none;
  }

  .required_text {
    padding-left: 10px;
  }

  .area_left {
    padding: 0px;
    width: 280px;
  }

  .input_field {
    padding:8px;
  }

  .input_field_date {
    padding: 22px;
  }

  .area_right {
    width: 280px;
  }

  .prio_area {
    flex-direction: column;
    padding-bottom: 40px;
    width: 280px;
  }
}