body {
    height: 100vh;
    margin: 0;
    display: flex;
}

* {
    font-family: inter;
}

:root {
    --1: #ff7a00;
    --2: #ff5eb3;
    --3: #6e52ff;
    --4: #9327ff;
    --5: #00bee8;
    --6: #1fd7c1;
    --7: #ff745e;
    --8: #ffa35e;
    --9: #fc71ff;
    --10: #ffc701;
    --11: #0038ff;
    --12: #c3ff2b;
    --13: #ffe62b;
    --14: #ff4646;
    --15: #ffbb2b;
  }

#content {
    display: flex;
    margin: auto;
    height: 1024px;

}

.background_color {
    background: #F6F7F8;
    width: 1440px;
}

.board_headline {
    color: #000;

    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */

}

#overlayAddTask {
  display: none;
}

#overlayAddTask {
    display: none;
  }

.find_task {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}


.add_task {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}


.board_background_color {
    background: #f6f7f8;
    width: 1208px;
}

.board_main {
    width: 1208px;
    height: 152px;
    flex-shrink: 0;
    margin-top: 79.5px;
    /* margin-bottom: 79.5px; */
    margin-right: 88px;

}

.board_content {
    display: flex;
    width: 1056px;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;
}

.board_find_add_task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.find_task_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.find_task_input {
    color: var(--Style, #D1D1D1);

    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    width: 250px;
    border: white;
}

.board_find_task_vector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.add_task_text {
    width: 92px;
    height: 24px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 25.2px */
}

.button_design {
    display: flex;
    height: 50px;
    width: 170px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2a3647;
    color: white;
  }
  
  .button_design:hover {
    cursor: pointer;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }


.add_task_img {
    width: 32px;
    height: 32px;
}

.to_do_main {
    display: flex;
    width: 1076px;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
}

.todo_content {
    display: flex;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.todo_text {
    color: var(--menu-color, #42526E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
}

.todo_plus_content {
    display: flex;
    width: 24px;
    height: 24px;
    /* padding: 3px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--Version-2-main-color, #2A3647);
}

.user_story_content {
    display: flex;
    width: 1076px;
    height: 790px;
    padding: 0px 64px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 26px;
    flex-shrink: 0;
    margin-top: 15px;
}

.todo_plus_img {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    /* margin: 8px; */
}

.task_content {
    cursor: pointer;
    border-radius: 24px;
    height: 263px;
    width: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: white;
    box-shadow: #42526E;
    gap: 10px;
}

.card_content {
    display: flex;
    flex-direction: column;
    height: 231px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 24px;
}

.card_content_dialog {
    display: flex;
    flex-direction: column;
    height: 231px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 24px;
}

.category {
    background-color: #0038FF;
    border-radius: 8px;
    color: white;
    Width: 113px;
    Height: 27px;
    Padding: 4px 16px 4px 16px;
    Gap: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.category_dialog {
    background-color: #0038FF;
    border-radius: 8px;
    color: white;
    Width: 113px;
    Height: 27px;
    Padding: 4px 16px 4px 16px;
    Gap: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.title_description {
    display: flex;
    flex-direction: column;
    Width: 220px;
    Height: 84px;
    Gap: 8px;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.description {
    color: #A8A8A8;
    font-size: 16px;
}

.additional-text {
    display: none;
    /* verstecke den zusätzlichen Text standardmäßig */
}

.over_progressbar {
    width: 220px;
    height: 16px;
    display: flex;
    align-items: center;
}

.progress-bar-container {
    width: 128px;
    /* Breite der Fortschrittsleiste */
    height: 8px;
    /* Höhe der Fortschrittsleiste */
    border: 1px solid #ccc;
    /* Rand der Fortschrittsleiste */
}

.progress-bar {
    width: 50%;
    /* Der Füllstand der Fortschrittsleiste in Prozent */
    height: 100%;
    background-color: #4589FF;
    /* Farbe des Füllstandes */
}

.progressbar_text {
    width: 73px;
    height: 14px;
    font-size: 12px;
}


.drag-area {
    height: 688px;
    width: 252px;
    background-color: transparent;
    /* Transparente Hintergrundfarbe */
    border: none;
    /* Keine Grenzen */
    margin-bottom: 50px;
    /* position: relative; */
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.profile_badge {
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px;
    background-color: #462F8A;
    gap: 10px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_badge1 {
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px;
    background-color: #1FD7C1;
    gap: 10px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile_badge2 {
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px;
    background-color: #FF7A00;
    gap: 10px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.over_profile_badge {
    display: flex;
}

.profile_content {
    display: flex;
    justify-content: space-between;
}

.dialog_content {
    position: fixed;
    z-index: 3;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    height: 931px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.16);
    Padding: 48px 40px 48px 40px;
    Gap: 24px;
}


.profile_content_dialog {
    display: flex;
    flex-direction: column;
}


.category_x {
    display: flex;
    justify-content: space-between;
    width: 445px;
    height: 36px;
}

.title_dialog {
    width: 445px;
    height: 219px;
    font-size: 61px;
    font-weight: 700;
}

.description_dialog {
    Width: 445px;
    Height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.date_dialog {
    Width: 445px;
    Height: 24px;
    Gap: 25px;
}

.prio_dialog {
    Width: 445px;
    Height: 32px;
    display: flex;
}


.over_profile_badge_dialog {
    display: flex;
    justify-content: space-between;
    Width: 230px;
    Height: 42px;
    gap: 16px;
}

.subtasks_dialog {
    display: flex;
    flex-direction: column;
    Width: 24px;
    Height: 24px;
    gap: 8px;
}

.subtasks_dialog_text {
    display: flex;
    width: 445px;
    height: 68px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    gap: 16px;
    Padding: 6px 16px 6px 16px;
}


.dialog_delete_edit {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 24px;
    width: 445px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.dialog_delete_edit img {
    Width: 16px;
    Height: 18px;
    Top: 3px;
    Left: 4px;

}

.close_button {
    background-color: white;
    border: white;
    width: 24px;
    height: 24px;

}

.close_button:hover {
    background-color: lightgray;
    border-radius: 45%;
}

.no_task {
    background-color: rgba(168, 168, 168, 1);
    width: 246px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid black; /* Border-Stärke hinzugefügt */
    gap: 10px; /* Abstand zwischen den flexiblen Elementen hinzugefügt */
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;
    color: #000;
}


.name_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
  }

  .hole_contact {
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
  }
  

  .contact {
    /* border: 2px solid green; */
    height: 100%;
    display: flex;
    align-items: center;
  }
  