body {
    height: 100vh;
    margin: 0;
    display: flex;
}

* {
    font-family: inter;
}

#content{
    display: flex;
    margin: auto;
    height: 1024px;
}

.background_color{
    background: #F6F7F8;
    width: 1440px;
}

.board_headline {
    color: #000;

    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
    
}

.input_field {
    position: relative;
    display: flex;
    width: 350px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Style);
    padding-left: 21px;
    padding-right: 21px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-repeat: no-repeat;
    background-position: center right 21px;
  }


  .create_task {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    color: white;
  }