body {
    height: 100vh;
    margin: 0;
    display: flex;
}

* {
    font-family: inter;
}

#content {
    display: flex;
    margin: auto;
    height: 1024px;

}

.background_color {
    background: #F6F7F8;
    width: 1440px;
}

.board_headline {
    color: #000;

    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */

}

.find_task {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}


.add_task {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}


.board_background_color {
    background: #f6f7f8;
    width: 1208px;
}

.board_main {
    width: 1208px;
    height: 152px;
    flex-shrink: 0;
    margin-top: 79.5px;
    /* margin-bottom: 79.5px; */
    margin-right: 88px;

}

.board_content {
    display: flex;
    width: 1056px;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;
}

.board_find_add_task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.find_task_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.find_task_input {
    color: var(--Style, #D1D1D1);

    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    width: 250px;
    border: white;
}

.board_find_task_vector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.add_task_text {
    width: 92px;
    height: 24px;

    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 25.2px */
}

.add_task_img {
    width: 32px;
    height: 32px;
}

.to_do_main {
    display: flex;
    width: 1076px;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
}

.todo_content {
    display: flex;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.todo_text {
    color: var(--menu-color, #42526E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
}

.todo_plus_content {
    display: flex;
    width: 24px;
    height: 24px;
    /* padding: 3px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--Version-2-main-color, #2A3647);
}

.user_story_content {
    display: flex;
    width: 1076px;
    height: 790px;
    padding: 0px 64px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 26px;
    flex-shrink: 0;
}

.todo_plus_img {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    /* margin: 8px; */
}

.task_content {
    cursor: pointer;
    border-radius: 24px;
    height: 215px;
    width: 200px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    background-color: white;
    box-shadow: #42526E;
    gap: 10px;
}

.card_content {
    width: 100%;
    overflow: hidden;
    /* Verhindert, dass Text über den Container hinaus sichtbar wird */
    text-overflow: ellipsis;
    /* Fügt "..." am Ende des abgeschnittenen Textes hinzu */

}

.category {
    background-color: #0038FF;
    border-radius: 8px;
    color: white;
    Width: 113px;
    Height: 27px;
    Padding: 4px 16px 4px 16px;
    Gap: 10px;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.description {
    color: #A8A8A8;
    font-size: 16px;

}

.progress-bar-container {
    width: 200px;
    /* Breite der Fortschrittsleiste */
    height: 20px;
    /* Höhe der Fortschrittsleiste */
    border: 1px solid #ccc;
    /* Rand der Fortschrittsleiste */
}

.progress-bar {
    width: 50%;
    /* Der Füllstand der Fortschrittsleiste in Prozent */
    height: 100%;
    background-color: #4589FF;
    /* Farbe des Füllstandes */
}


.drag-area {
    height: 700px;
    width: 200px;
    background-color: transparent;
    /* Transparente Hintergrundfarbe */
    border: none;
    /* Keine Grenzen */
    margin-bottom: 50px;
    position: relative;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}