body {
    display: flex;
    height: 100vh;
    margin: 0;
}
a{
    color: #007CEE!important;
}

.side {
    display: flex;
    width: 1440px;
    height: 1024px;
    margin: auto;
}

.overlay_add_contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

* {
    font-family: inter;
}

.background {
    height: 1024px;
    background: #F6F7F8;
    flex: 1;
}

.content_area {
    display: flex;
    width: 1202px;
}

.contact_list {
    display: flex;
    width: 456px;
    height: 940px;
    flex-shrink: 0;
    background: var(--white, #FFF);
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.text_right {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
    margin-bottom:700px;
    gap: 30px;
    /* border: 2px solid blue; */
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.headline_between {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.headline_metrics {
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.button_design {
    display: flex;
    height: 50px;
    width: 352px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    color: white;
}

.button_design:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add_new_contact {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.contact_member {
    /* border: 2px solid rebeccapurple; */
    width: 350px;
    /* overflow:auto; */
}



.button {
    position: relative;
    display: flex;
    width: 350px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Style);
    padding-left: 21px;
    padding-right: 21px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-repeat: no-repeat;
    background-position: center right 21px;
  }

  .create_task {
    display: flex;
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2a3647;
    color: white;
  }

  .clear_task {
    display: flex;
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--Version-2-main-color, #2a3647);
    background: #f6f7f8;
  }

  .input_field {
    position: relative;
    display: flex;
    width: 350px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Style);
    padding-left: 21px;
    padding-right: 21px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-repeat: no-repeat;
    background-position: center right 21px;
  }