:root {
  --1: #ff7a00;
  --2: #ff5eb3;
  --3: #6e52ff;
  --4: #9327ff;
  --5: #00bee8;
  --6: #1fd7c1;
  --7: #ff745e;
  --8: #ffa35e;
  --9: #fc71ff;
  --10: #ffc701;
  --11: #0038ff;
  --12: #c3ff2b;
  --13: #ffe62b;
  --14: #ff4646;
  --15: #ffbb2b;
  --hover: #f4f4f4;
}

body {
  display: flex;
  max-height: 100vh;
  max-width: 1920px;
  margin: 0;
  flex-direction: column;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: 34px;
}

.invis {
  display: none;
}

.side {
  display: flex;
  width: 100%;
}

.overlay_add_contact {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}

.content {
  width: 100%;
}

#overlay_card_add {
  position: fixed;
  right: -100%;
  transition: right 0.5s ease-in-out;
  border-radius: 10%;
}

* {
  font-family: inter;
}

.background {
  width: 100%;
  background: #f6f7f8;
}

.content_area {
  display: flex;
  width: 100%;
}

.contact_list {
  display: flex;
  max-width: 312px;
  flex-shrink: 0;
  background: var(--white, #fff);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.hole_contact {
  display: flex;
  align-items: center;
  height: 78px;
  padding: 15px 24px;
  border-radius: 10px;
  cursor: pointer;
}

.hole_contact:hover {
  background-color: var(--hover);
}

.name_icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
}

.contact a {
  color: #007cee;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 34px;
}

#right_content {
  width: 100%;
  margin-top: 72px;
  margin-left: 56px;
}

#details_container {
  margin-top: 32px;
}

#details_name_area {
  display: flex;
  gap: 52px;
  align-items: center;
  width: 100%;
}

#details_name_icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 47px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 56.4px;
}

#contact_info {
  margin-top: 48px;
}

#contact_info span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

#details_name {
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
}

#detail_info {
  margin-top: 52px;
}

#detail_info p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

#detail_info a {
  color: #007cee;
}

.text_right {
  display: flex;
  width: 100%;
  gap: 30px;
  /* border: 2px solid blue; */
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.headline_between {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.headline_metrics {
  color: #2a3647;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.button_design {
  display: flex;
  height: 50px;
  width: 352px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.button_design:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add_new_contact {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.contact_member {
  /* border: 2px solid rebeccapurple; */
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.button {
  position: relative;
  display: flex;
  width: 350px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

#save_button_edit {
  display: flex;
  height: 50px;
  width: 111px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

#save_button_edit:hover {
  color: #29abe2;
  scale: 1.1;
}

#del_button_edit {
  display: flex;
  height: 50px;
  width: 113px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647);
  background: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
#del_button_edit:hover {
  color: #29abe2;
  scale: 1.1;
}

.input_field {
  position: relative;
  display: flex;
  width: 350px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 5px;
}

#edit_buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#del_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 24px;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#del_button:hover {
  color: #29abe2;
  scale: 1.1;
}

#edit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 24px;
  gap: 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#edit_button:hover {
  color: #29abe2;
  scale: 1.1;
}

#overlay_card_edit {
  position: fixed;
  right: -100%;
  transition: right 0.5s ease-in-out;
  border-radius: 10%;
}

#editContact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}

#current_user_data_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#helper_div {
  display: flex;
  position: relative;
}

#current_unser_email {
  color: #7e7cee;
}

@media (max-width: 1200px) {
  .contact_list {
    width: 340px;
  }

  .button_design {
    width: 300px;
  }

  .contact-group img {
    width: 90%;
  }

  .contact_member {
    width: 100%;
  }

  .headline_metrics {
    display: none;
  }
  #details_name_area {
    width: 100%;
  }
  #details_name_icon {
    scale: 0.5;
  }
  #details_name {
    font-size: 36px;
  }
}

@media (max-width: 1000px) {
  body {
    height: 100vh;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  #right_content {
    display: none;
  }

  #mobile_header {
    z-index: 1;
  }

  #burger_menu_mobile {
    z-index: 1;
    top: 80px !important;
  }

  #helper_div {
    z-index: 0;
  }

  .content_area {
    align-items: center;
    justify-content: center;
  }

  .contact_list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    overflow: auto;
    position: relative;
  }

  .hole_contact {
    width: 100%;
    scale: 0.8;
    padding: 0;
  }

  .contact_member {
    width: 100%;
    height: calc(100vh - 260px);
  }

  .contact-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-group img {
    width: 100%;
  }

  .button_design {
    position: fixed;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    padding: 0;
    right: 16px;
    bottom: 90px;
  }

  .button_design p {
    display: none;
  }
  #card{
    margin-left: 200px;
  }

}
