:root {
  --Style: #d1d1d1;
  --Background: #f6f7f8;
  --icon: #a8a8a8;
  --Version-2-main-color: #2a3647;
}

body {
  font-family: inter;
  margin: 0;
  height: 100vh;
  display: flex;
}

#main_container {
  position: relative;
  background-color: var(--Background);
  width: 1440px;
  height: 1024px;
  display: flex;
  margin: auto;
}

#main_content{
  width: 100%;
}