:root {
  --Style: #d1d1d1;
  --Background: #f6f7f8;
  --icon: #a8a8a8;
  --Version-2-main-color: #2a3647;
  --warning: #FF8190;
}

body {
  font-family: inter;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 1920px;
}

a {
  text-decoration: none;
  color: var(--icon);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

input::placeholder {
  color: var(--Style);
}

#joinIcon {
  width: 100.034px;
  height: 121.966px;
  flex-shrink: 0;
  position: absolute;
  top: 80px;
  left: 77px;
}

.buttonDark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px 15px 16px;
  border-radius: 8px;
  gap: 10px;
  background-color: #2a3647;
  color: white;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
}

#main_container {
  position: relative;
  background-color: var(--Background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#sign_up_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#sign_up_header p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#seperator {
  margin-top: -68px;
}

#sign_up_container {
  position: relative;
  margin-top: 5%;
  width: 598px;
  height: 630px;
  display: inline-flex;
  padding: 48px 88px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 30px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

#arrow_back {
    width: 32px;
    position: absolute;
    left: 32px;
    top: 32px;
    cursor: pointer;
}

#input_fields {
  display: flex;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.input_field {
  position: relative;
  display: flex;
  width: 422px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Style);
  padding-left: 21px;
  padding-right: 21px;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.imgMail {
  background-image: url("../assets/img/mail.svg");
}

.imgLock {
  background-image: url("../assets/img/lock.svg");
}

.imgName {
  background-image: url("../assets/img/person.svg");
}

#msg_dont_match {
  position: fixed;
  color: var(--warning);
  display: none;
}

#already_in_use {
  position: fixed;
  color: var(--warning);
  display: none;
}

#loginButtons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  margin-right: auto;
  margin-left: auto;
}

#loginCheckbox {
  display: flex;
  padding: 0px 241px 0px 39px;
  align-items: center;
  align-self: stretch;
  gap: 12px;
}

#loginFooter {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#popup {
  width: 312px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Version-2-main-color);
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border-radius: 20px;
}
