body {
  height: 100vh;
  margin: 0;
  display: flex;
}

* {
  font-family: inter;
}

#content {
  display: flex;
  margin: auto;
  height: 1024px;
  width: 1440px;
}

.summary_background_color {
  background: #f6f7f8;
  width: 1440px;
}

.summary_main {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  margin-left: 85px;
}

.summary_headline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 110px;
  margin-left: 85px;
  margin-bottom: 60px;
}

.summary_headline360 {
  color: #000;

  /* Version 2/t1 */
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 73.2px */
}

.summary_headline_vector {
  width: 0px;
  height: 59px;
  stroke-width: 3px;
  stroke: #29abe2;
}

.summary_headline_between {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.summary_headline_metrics {
  color: #2a3647;

  /* Version 2/t5 */
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 32.4px */
}

.todo_main {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

.todo {
  display: flex;
  width: 264px;
  height: 168px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #fff);

  /* nuevo */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.todo:hover {
  background-color: #2A3647;
  color: white;
}

.todo img {
  width: 69px;
  height: 69px;
}

/* .todo img:hover{
  background-color: white;
  color: white;
} */

.todo_number {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 76.8px */
}

.todo_number:hover {
  /* background-color: #2A3647; */
  color: white;
}

.todo_text {
  color: #2a3647;

  /* Version 2/t6 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
}

.todo_text:hover {
  background-color: #2A3647;
  color: white;
}

.todo_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done {
  display: flex;
  width: 264px;
  height: 168px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #fff);

  /* nuevo */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.done img {
  width: 69px;
  height: 69px;
}

.urgent {
  display: flex;
  width: 560px;
  height: 168px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  border-radius: 30px;
  background: var(--white, #fff);

  /* nuevo */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.board {
  display: flex;
  width: 168px;
  height: 168px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #fff);
  /* nuevo */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.task_board {
  display: flex;
  width: 560px;
  height: 170px;
  padding: 1px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

.welcome {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  margin-left: 80px;
}

.welcome_text {
  width: 338px;
  color: #2a3647;

  /* Version 2/t2 */
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 56.4px */
}

.welcome_name {
  width: 385px;
  color: var(--Ligth-blue, #29abe2);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 76.8px */
}

.todo_done {
  display: flex;
  width: 560px;
  height: 168px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

/* .border_check {
    border: 2px solid red
}

.border_blue {
    border: 2px solid blue;
} */

.color {
  width: 34.186px;
  height: 25.116px;
  flex-shrink: 0;
}

.d_flex {
  display: flex;
}

.orange_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff3d00;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 64px;
}

.urgent_1 {
  width: 50px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 76.8px */
}

.urgent_flex {
  display: flex;
  flex-direction: column;
}

.urgent_text {
  color: #2a3647;

  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

.urgent_date {
  color: #2a3647;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 25.2px */
}

.urgent_upcoming {
  color: #2a3647;
  /* Version 2/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

.urgent_date_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin-right: 48px;
}

.urgent_vector {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 61px;
}

.urgent_img_text {
  display: flex;
  align-items: center;
  gap: 18px;
}

.tasks_number {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}

.task_text_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_text {
  color: #2a3647;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}