<div class="card">
  <div class="color_section">
    <div class="logo_left">
      <img src="../assets/img/Capa2white.svg" />
    </div>
    <img src="../assets/img/Frame 210.png" />
  </div>
  <div class="input_section">
    <div class="picture_area">
      <img src="../assets/img/group 13.png" />
    </div>
    <div class="input_fields">
      <div class="close">
        <img src="../assets/img/close.png" onclick="closeAddContact()" />
      </div>
      <form onsubmit="addNewContact(); return false;">
        <div id="cotact_data_field">
        <input
          class="input_field img_person"
          id="input_name"
          type="name"
          placeholder="Name"
        />
        <input
          class="input_field img_email"
          id="input_email"
          type="email"
          placeholder="Email"
        />
        <input
          class="input_field img_phone"
          id="input_phone"
          type="phone"
          placeholder="Phone"
        />
        </div>
      
      <div class="button_area_overlay">
          
            <button id="cancle_button" >Cancle <img src="../assets/img/close.svg" alt=""> </button>
            <button  id="create_button" >Create contact <img src="../assets/img/check_button_create.svg" alt=""></button>
        
        </div>
    </form>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    display: flex;
    width: 1212px;
    height: 592px;
    border-radius: 30px;
  }

  .color_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 467px;
    height: 592px;
    gap: 12px;
    background-color: #2a3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
  }

  .logo_left {
    padding-left: 110px;
    width: 467px;
    display: flex;
    justify-content: flex-start;
  }

  .logo_left img {
    height: 66px;
    width: 56px;
  }

  .input_section {
    width: 790px;
    border: 2px solid rgb(161, 161, 161);
    display: flex;
    align-items: center;
    gap: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--white, #fff);
  }

  #cotact_data_field{
    display: flex;
    flex-direction: column;
    height: 215px;
    justify-content: space-between;
  }

  .picture_area {
    display: flex;
    justify-content: center;
    width: 250px;
    /* border: 1px solid brown; */
  }

  .close {
    /* border: 1px solid blueviolet; */
    margin-right: 45px;
    /* margin-bottom: 80px; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .close img:hover {
    cursor: pointer;
  }

  .input_fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 32px;
  }

  .input_field {
    position: relative;
    display: flex;
    width: 375px;
    /* padding: 12px 21px; */
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-repeat: no-repeat;
    background-position: center right 21px;
  }

  .img_person {
    background-image: url("../assets/img/person.svg");
  }

  .img_email {
    background-image: url("../assets/img/mail.svg");
  }

  .img_phone {
    background-image: url("../assets/img/call.svg");
  }

  .button_area_overlay {
    margin-top: 48px;
    width: 364px;
    display: flex;
    justify-content: space-between;

  }

  #cancle_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 56px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    gap: 4px;
    cursor: pointer;
    ;
  }

  #create_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 56px;
    background-color: #2a3647;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    gap: 4px;
    cursor: pointer;
  }

  #create_button:hover {
    background-color: #29abe2 ;
    scale: 1.1;
  }

  #cancle_button:hover {
    color: #29abe2;
    border-color: #29abe2;
    scale: 1.1;
  }

  
</style>
