<body onload="init()">
    <div class="side">
        <div class="content">
            <div class="background">
                <div class="area">
                    <h1> Add Task </h1> 
                    <div class="left_stroke_right_area">
                        <div class="area_left"> 
                            <div class="title_area">
                                <h4> Title*</h4>
                                <input class="input_field" id="input_title" type="text" placeholder="Enter a title" required/>
                            </div>
                            <div class="description_area">
                                <h4> Description</h4>
                                <textarea class="textarea_field" id="description" name="w3review" rows="4" cols="50" placeholder="Enter a Description"></textarea>
                            </div>
                            <div class="assi_area">
                                <h4>Assigned to</h4>
                                <div class="accordion">
                                    <div class="head_arccordion" onclick="toggleAccordion(this)">
                                        <div id="search_area"><p>Select contacts to assign</p></div>
                                        <img src="../assets/img/arrow_drop_downaa.svg">
                                    </div>
                                    <div class="accordion-content">
                                        <div id="MemberFiel_Search"></div>
                                        <div id="MemberField" class="column">
                                        </div>
                                    </div>
                                </div>
                                <div id="aktiveMemberIcons"></div>
                        
                    
                            </div>
                        </div>

                        <div class="stroke"></div>

                        <div class="area_right">
                            <h4> Due date *</h4>
                            <input class="input_field_date" id="input_date" type="date" min="" required/>
                            <h4> Prio </h4>
                            <div class="prio_area">
                                <div id="buttonUrgent" class="prio" onclick="buttonUrgent()">
                                    <h4>Urgent</h4>
                                    <img id="prioImg" src="../assets/img/Prio up.svg">
                                </div>
                                <div id="buttonMedium" class="prio_orange" onclick="buttonMedium()">
                                    <h4>Medium</h4>
                                    <img id="mediumImg" src="../assets/img/Prio media.svg">
                                </div>
                                <div id="buttonLow" class="prio" onclick="buttonLow()">
                                    <h4>Low</h4>
                                    <img id="lowImg" src="../assets/img/Prio down.svg">
                                </div>
                            </div>
                            <h4> Category*</h4>
                                <div class="accordion">
                                    <div class="head_arccordion_category" onclick="toggleAccordion(this)">
                                        <p id="user_category">Select task category</p>
                                        <img src="../assets/img/arrow_drop_downaa.svg">
                                    </div>
                                    <div class="accordion-content">
                                        <div class="column">
                                            <button class="button_task" onclick="replaceToTechnicalTask()">Technical Task</button>
                                            <button class="button_task" onclick="replaceToUserStory()">User Story</button>
                                        </div>
                                    </div>
                                </div>
                              
                         
                            <h4>Subtasks</h4>
                            <div class="assigned_area">
                                <input class="input_field_subtask" id="input_subtask" type="text" placeholder="Add new subtask" required onclick="clickInputSubTask()"/>
                                <div id="sub_task_image_area"><img src="../assets/img/plus icon.svg"></div>
                            </div>
                            <div id="sub_task_listelements"></div>

                        </div>
                    </div>
                    <div class="last_section"> 
                        <div class="required_text">
                            <p> *This field is required</p>
                        </div>
                        <div class="task">
                            <div class="clear_task"> 
                                <p> Clear</p>
                                <img src="../assets/img/iconoir_cancel.svg">
                            </div>
                            <div class="create_task" onclick="addNewAddTask()"> 
                                <p> Create Task</p>
                                <img src="../assets/img/check.svg">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>


