<body onload="initAddTask()">
    <div class="overlay_add_Task">
        <div class="content">
            <div class="background_template">
                <form class="area" onsubmit="addNewAddTask(); return false;">
                    <div class="header_line">
                        <h1> Add Task </h1> 
                        <div class="flex_end">
                            <img src="../assets/img/close.svg" onclick="closeAddTask()">
                        </div>
                    </div>
                    <div class="left_stroke_right_area">
                        <div class="area_left"> 
                            <div class="title_area">
                                <h4> Title*</h4>
                                <input class="input_field" id="input_title" type="text" placeholder="Enter a title" required/>
                            </div>
                            <div class="description_area">
                                <h4> Description</h4>
                                <textarea class="textarea_field" id="description" name="w3review" rows="4" cols="50" placeholder="Enter a Description"></textarea>
                            </div>
                            <div class="assi_area">
                                <h4>Assigned to</h4>
                                <div class="accordion">
                                    <div class="head_arccordion" onclick="toggleAccordion(this)">
                                        <div id="search_area"><p>Select contacts to assign</p></div>
                                        <img src="../assets/img/arrow_drop_downaa.svg">
                                    </div>
                                    <div class="accordion-content">
                                        <div id="MemberFiel_Search"></div>
                                        <div id="MemberField" class="column">
                                        </div>
                                    </div>
                                </div>
                                <div id="aktiveMemberIcons"></div>
                        
                    
                            </div>
                        </div>

                        <div class="stroke"></div>

                        <div class="area_right">
                            <h4> Due date *</h4>
                            <input class="input_field_date" id="input_date" type="date" min="" required/>
                            <h4> Prio </h4>
                            <div class="prio_area">
                                <div id="buttonUrgent" class="prio" onclick="buttonUrgent()">
                                    <h4>Urgent</h4>
                                    <img id="prioImg" src="../assets/img/Prio up.svg">
                                </div>
                                <div id="buttonMedium" class="prio_orange" onclick="buttonMedium()">
                                    <h4>Medium</h4>
                                    <img id="mediumImg" src="../assets/img/Prio media.svg">
                                </div>
                                <div id="buttonLow" class="prio" onclick="buttonLow()">
                                    <h4>Low</h4>
                                    <img id="lowImg" src="../assets/img/Prio down.svg">
                                </div>
                            </div>
                            <h4> Category*</h4>
                                <select name="catergory" id="category" class="select_area" required>
                                    <option value="" disabled selected hidden>Select a Task</option>
                                    <option value="User Story"> Userstory</option>
                                    <option value="Technical Task"> Technical </option>
                                </select>
                              
                         
                            <h4>Subtasks</h4>
                            <div class="assigned_area">
                                <input class="input_field_subtask" id="input_subtask" type="text" placeholder="Add new subtask" required onclick="clickInputSubTask()"/>
                                <div id="sub_task_image_area"><img src="../assets/img/plus icon.svg"></div>
                            </div>
                            <div id="sub_task_listelements"></div>

                        </div>
                    </div>
                    <div class="last_section"> 
                        <div class="required_text">
                            <p> *This field is required</p>
                        </div>
                        <div class="task">
                            <button type="button" class="clear_task"> 
                                <p> Clear</p>
                                <img src="../assets/img/iconoir_cancel.svg">
                            </button>
                            <button type="submit" class="create_task" >
                                <p> Create Task</p>
                                <img src="../assets/img/check.svg">
                            </button> 
                        </div>
                    </div>
                </form>              
            </div>
        </div>
    </div>
</body>


