<div id="footer">
  <a href="summary.html">
    <div id="sum_button">
      <img src="../assets/img/footer_summary.svg" alt="" />
      <p>Summary</p>
    </div>
  </a>
  <a href="add_task.html">
    <div id="add_button">
      <img src="../assets/img/footer_add.svg" alt="" />
      <p>Add Tasks</p>
    </div>
  </a>
  <a href="board.html">
    <div id="board_button">
      <img src="../assets/img/footer_board.svg" alt="" />
      <p>Board</p>
    </div>
  </a>
  <a href="contacts.html">
    <div id="contacts_button">
      <img src="../assets/img/footer_contacts.svg" alt="" />
      <p>Contacts</p>
    </div>
  </a>
</div>

<style>
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #2a3647;
    display: flex;
    justify-content: space-around;
  }

  #footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 76px;
    border-radius: 20px;
    margin-top: 3px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }

  #footer div img {
    width: 22px;
    height: 22px;
    margin-bottom: -10px;
    margin-top: 10px;
  }

  #footer div:hover {
    background-color: #091931;
  }

  #footer{
    display: none;
  }

  @media (max-width: 1000px){
    #footer{
      display: flex;
    }
  }



</style>

