<navbar class="navbar">
    <div>
        <img id="navbar_img" src="../assets/img/Capa2white.svg">
    </div>
    <div class="menu">
        <div class="menu_point">
            <div class="menu_underpoint">
                <img src="../assets/img/summary.svg">
                <h3> Summary</h3>
            </div>
        </div>
        <div class="menu_point">
            <div class="menu_underpoint">
                <img src="../assets/img/addTask.svg">
                <h3> Add Task</h3>
            </div>
        </div>
        <div class="menu_point">
            <div class="menu_underpoint">
                <img src="../assets/img/board.svg">
                <h3>Board</h3>
            </div>
        </div>
        <div class="menu_point">
            <div class="menu_underpoint">
                <img src="../assets/img/contacts.svg">
                <h3>Contacts</h3>
            </div>
        </div>
    
    </div>
    <div class="area3">
        <a href=""><h3>Privacy Policy</h3></a>
        <a href=""><h3>Legal notice</h3></a>
    </div>
</navbar>

<style>

.navbar {
    display: flex;
    width: 232px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#navbar_img{
    margin-top: 64px;
}

.menu_point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    /* border: 1px solid white; */
}

.menu_underpoint {
    display: flex;
    width: 232px;
    height: 46px;
    padding-left: 90px;
    align-items: center;
    gap: 8px;
    /* border: 1px solid white; */
}

.area3 {
    display: flex;
    padding: 243px 0px 0px 52px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    margin-bottom: 64px;
    /* border: 1px solid white; */
}

</style>